version: '3.8'

services:
  next-app:
    build:
      context: ./next-app
      dockerfile: prod.Dockerfile
    container_name: next-app
    restart: always

  nginx:
    build:
      context: ./nginx
      dockerfile: prod.Dockerfile
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/www/kararizzardi.com/keys:/etc/letsencrypt:ro
      - /var/www/kararizzardi.com/certbot/www:/var/www/certbot
    depends_on:
      - next-app

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - /var/www/kararizzardi.com/keys:/etc/letsencrypt
      - /var/www/kararizzardi.com/certbot/www:/var/www/certbot