version: '3.8'

services:
  next-app:
    build:
      context: ./next-app
      dockerfile: prod.Dockerfile
    container_name: next-app
    restart: always

  nginx:
    build:
      context: ./nginx
      dockerfile: prod.Dockerfile
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./keys:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot
    depends_on:
      - next-app

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./keys:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: /bin/sh
